<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Le chateau de Rochefort{% endblock %}</title>
      <link rel="icon" href="favicon.png" type="image/png">
      <link rel="shortcut icon" href="{{ asset('assets/img/logo.png')}}" type="img/x-icon">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="assets/css/main.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('assets/img/chateau.jpg')">
            <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand">
              <h1 class="presentation-title">Les clefs de Rochefort</h1>
              <div class="fog-low">
                <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
              </div>
              <div class="fog-low right">
                <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
              </div>
            </div>
          </div>
        </div>
            <div class="moving-clouds" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png'); ">

            </div>
      </div>
  </div>
      <!-- Navbar(barre de menu) -->
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{{ path("home")}}"><h6>Les clefs de Rochefort</h6></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="{{ path("articles")}}">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path ("nous_rejoindre")}}">Nous Rejoindre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("site_create") }}">Créer un article</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Navbar Fin -->

      <div class="container">
        {% block body %}{% endblock %}
      </div>
      {% block javascripts %}{% endblock %}
    </body>
</html>

