@import url('https://fonts.googleapis.com/css?family=Srisakdi');

h1
{
  position: relative;
  text-align: center !important;
  margin: 100px;
  font-family: 'Srisakdi', cursive;
  font-size: 5rem;
  text-shadow: 1px 1px 2px red;
}

body
{
  background-color: lightgrey;
}

.card
{
  margin-right: 10px;
  margin-left: 10px;
}

.card:hover
{
  transform: scale(1.01);
  background-color: #e3f9f7;
}

.card-title
{
  text-align: center;
}

.card-text
{
  text-align: center;
}



/*Petit ecran*/
@media only screen and (max-width: 762px) {
h1 {
font-size: 3em;
}
}
